RUIJIE_USERNAME=pique0202
RUIJIE_PASSWORD=aA52271902bB?
RUIJIE_LOGIN_API=http://222.198.127.170/eportal/InterFace.do?method=login
RUIJIE_GATEWAY_IP=222.198.127.170
RUIJIE_WLANACNAME=NAS
RUIJIE_SSID=Ruijie
RUIJIE_NASIP=172.28.255.4
RUIJIE_URL=http://123.123.123.123/
RUIJIE_SLEEP_SECONDS=10
